---
pagination:
    data: collections.speakers
    size: 1
    alias: speaker
permalink: "/people/{{ speaker.slug }}.html"
layout: layouts/speaker.njk
eleventyExcludeFromCollections: true
title: "{{ speaker.name }}"
---
