<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="header_resize">
            <div class="header">
                <div class="logo"><a href="{{ SITEURL }}/index.html"><img
                            src="{{ SITEURL }}/theme/img/logo_square_v2.png" width="80" height="80" border="0"
                            alt="Living On Earth" /></a></div>

                <div class="menu">
                    <ul>
                        <li><a href="{{ SITEURL }}/index.html" class="active">Home</a></li>
                        <li><a
                                href="{% set ns = namespace(found=false, url='#') %}{% for article in articles %}{% if not ns.found and article.template == 'show' %}{% set ns.found = true %}{% set ns.url = SITEURL ~ '/' ~ article.url %}{% endif %}{% endfor %}{{ ns.url }}">This
                                Week</a></li>
                        <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
                        <li><a href="#">Special Features</a></li>
                        <li><a href="{{ SITEURL }}/newsletter.html">Newsletter</a></li>
                        <li><a href="{{ SITEURL }}/stations.html">Stations</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="{{ SITEURL }}/about.html">About Us</a></li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>

        <div class="content">
            <div class="content_resize">
                <div class="mainbar">
                    {% block content %}{% endblock %}
                </div>
                <div class="clr"></div>
            </div>
        </div>


        <div class="footer">
            <div class="footer_resize">
                <div style="text-align: center;">
                    {% for p in hidden_pages %}
                    {% if p.slug == 'footer' %}
                    {{ p.content }}
                    {% endif %}
                    {% endfor %}
                    <small style="color: #888;">Last updated: {{ ''|current_time('%B %d, %Y at %I:%M %p %Z') }}</small>
                </div>
            </div>
        </div>
    </div>
</body>

</html>