{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="body">
    <div class="body_resize">
        <div class="single-column">
            {% set title_html %}
            <h2>Living on Earth: {{ article.date|strftime('%B') }} {{ article.date.day|ordinal }}, {{ article.date|strftime('%Y') }}</h2>
            {% endset %}
            {% set show_summary_above_image = true %}
            {% include 'modules/_article_header.html' %}

            <div class="show-content">
                {{ article.content }}
            </div>

            <p><a href="{{ SITEURL }}/index.html" class="silver">&larr; Back to Home</a></p>
        </div>
        <div class="clr"></div>
    </div>
</div>
{% endblock %}
